MONGODB_URI=mongodb+srv://mandalnitesh654_db_user:v623NJf4qNGjQ4KW@cluster0.edszvll.mongodb.net/?appName=Cluster0
JWT_SECRET=your_super_secret_jwt_key_here
ADMIN_EMAIL=admin@webcraft.pro
ADMIN_PASSWORD=Admin@123
NEXT_PUBLIC_WHATSAPP_NUMBER=919000000000
NEXT_PUBLIC_WHATSAPP_MESSAGE=Hello%20I%20want%20a%20website
NEXT_PUBLIC_SITE_URL=http://localhost:3000


